.adminNav, .serviceNav{

	ul{
	position: inherit;
	margin-bottom: 0px !important;
		.sideTitle{
			font-size: 1em;
			font-weight: bold;
			padding: 10px;
		}
		li{
			padding: 0px;
			a{
				width: 100%;
			}
		}

		.fa{
			font-size: 1.5em;
			margin-right: 10px;
		}
	}
	.children{

	}
	.container{

		height: 100%;
	.card-panel{
		  box-shadow: 0 0px 5px rgba(0,0,0,.26);
		button{
			margin-top: 25px;
		}
		[type="checkbox"] + label{
			line-height: 14px;
		}
	}
	h2{
		margin: 0px;
	}
	.row .link{
		a,strong{
			vertical-align: middle;
		}
	}
	
	}
}
.children{
	height: 100%;
	.buttonDelete{
		margin-left: 15px; 
	}
}
.Applications{
	a{
	color: #000;
	}
}